@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1 {

  margin:0;  
  max-width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  position: relative;
  text-align: center;
  color: white;
  background: url("https://thumbs.dreamstime.com/b/tropical-flower-pattern-seamless-flowers-blossom-flowers-nature-background-vector-illustration-61142748.jpg");
  background-size: auto 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}
@media(max-width:786px)
{
    h1
    {
        font-size:80px;
    }
}
